@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Lobster Two", sans-serif;
}
a{
  text-decoration: none;
  color:black;
}
body{
  background-color: #1f1642;
}
.nav{
      background: linear-gradient(180deg, #a251b6, #1f1642); 
  width:100%;
  height:85px;
}
.nav ul{
  list-style:none;
  padding-left: 35%;
  block-size:10%;
  padding-top:20px;
}
.nav .navcenter{
  display:inline-block;
  margin-right:15px;
  text-align:center;
  font-size:25px;
  cursor: pointer;
  transition-duration: 2s ; 
  transition-timing-function: cubic-bezier(0.1, 0.3, 0.1, 1)
}
.nav .navcenter:hover{
  transform: scale(1.2) translateY(-10px);
  text-shadow: 3px 2px 2px rgba(173, 243, 255, 0.5);
}
.titulo{
    text-align: center;
}
.imagen{
width: 250px;
height: 250px;
margin-left: 10%;
}
.imagen2{
 width: 250px;
height: 250px;
margin-left: 10%;
}
.todo{
    display: flex;
}
.texto{
text-align: left;
}
.imagenes{
    margin-top: auto;

}
footer{
  height:fit-content;
  background-color:#d5ffd5;
  position:fixed;
  top:97%;
  width:100%;
  height: 3%;
  z-index: 50;
  align-content: center;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
footer button{
  width:4%;
  height:3%;
  margin-left:48%;
}
footer:hover{
  transform:translateY(-60px);
  transform:scaleY(10);
  opacity:1;
}
footer:hover button{
  opacity:0;
}
footer button img{
  width:100%;
}
footer ul{
  list-style:none;
  padding-left: 35%;
  block-size:10%;
  padding-top:20px;
}