@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Lobster Two", sans-serif; }
body {  color: black; text-align: center; background:url(codigo-binario-3786926283.gif);}


.nav { background-color: #3b444d; height: 85px; display: flex; align-items: center; justify-content: center; }
.nav ul { list-style: none; display: flex; gap: 20px; }
.nav li a, .nav li { color: rgb(231, 231, 231); font-size: 45px; transition: 0.3s; text-decoration: none; cursor: pointer; }
.nav li:hover { transform: translateY(-5px) scale(1.1); text-shadow: 2px 2px 5px rgba(164, 228, 255, 0.66); }
.content{
  width:85%;
  background-color:white;
  justify-self:center;
  height:800px;
}
.content h2{
  width:80%;
  background-color: #c0c0c0;
  font-size: 25px;
  justify-self:center;
  margin-bottom: 50px;
  border-radius:25px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #e6e6e6;
  transition: height 0.7s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#toggleFooter:checked ~ footer { height: 300px; }

.footer-btn { width: 40px; height: 40px; cursor: pointer; margin: 10px 0; }
.footer-btn img { width: 100%; }

.footer-content {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  position: relative;
}
#toggleFooter:checked ~ footer .footer-content { opacity: 1; transform: translateY(0); }

.card {
  width: 150px;
  height: 145px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  transition: transform 0.6s ease, z-index 0.6s;
}
.card img { padding-top:5px; width: 90px; height: 90px; border-radius: 6px; }
.card h3 { color: #1f1642; }
.card a {
  visibility: hidden;
  background: #eee;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  color: #1f1642;
  font-weight: bold;
  transition: 0.3s ease;
}
#card1:checked ~ #c1 a,
#card2:checked ~ #c2 a,
#card3:checked ~ #c3 a {
  visibility: visible;
}
.card a:hover { background: #c0b6ff; }
#c1 { transform: translateX(-220px) scale(0.9); z-index: 1; }
#c2 { transform: translateX(0) scale(1.05); z-index: 2; }
#c3 { transform: translateX(220px) scale(0.9); z-index: 1; }

#card1:checked ~ #c1 { transform: translateX(0) scale(1.05); z-index: 2; height:180px;}
#card1:checked ~ #c2 { transform: translateX(220px) scale(0.9);}
#card1:checked ~ #c3 { transform: translateX(-220px) scale(0.9);}

#card2:checked ~ #c1 { transform: translateX(-220px) scale(0.9);}
#card2:checked ~ #c2 { transform: translateX(0) scale(1.05);height:180px;}
#card2:checked ~ #c3 { transform: translateX(220px) scale(0.9);}

#card3:checked ~ #c1 { transform: translateX(220px) scale(0.9);}
#card3:checked ~ #c2 { transform: translateX(-220px) scale(0.9);}
#card3:checked ~ #c3 { transform: translateX(0) scale(1.05);height:180px;}

@media (max-width: 600px) {
  .card { width: 120px; height: 100px; }
  #c1 { transform: translateX(-150px) scale(0.9); }
  #c3 { transform: translateX(150px) scale(0.9); }
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding-left:65px;
}
.tarjeta {
    background-color: #ffb6ed;
    padding: 20px;
    border-radius: 12px;
    height:600px;
    width: 85%;
    
}
.tarjeta h3{
  font-size: 45px;
}
.tarjeta p{
  font-size: 25px;
}
.tarjeta img{
  width:fit-content;
  height:200px;
  border-radius: 15px;
  margin-top:15px;
}